#page-wrapper {
	height: 100%;
	width: 100%;
	/*background-color: #34495e; */
	overflow: hidden;
	font-family: "Lato", sans-serif;
}

.row{
	margin: auto;
}

.subcard {
	/*position: relative;*/
	display: inline-block;
	/*vertical-align: top;*/
	margin: 2em;
	width: 10em;
	height: 10em;
	overflow: hidden;

	padding: 2em;
	/*border: gray solid 0.025em;*/
	/*box-shadow: 3px 3px 20px 1px rgba(0, 0, 0, 0.2);*/
	border-radius: 2px;

}
.card ul a {
	color: #3bc492;
    font-weight: bold;
	padding: 0 1em;
	display: block;
	font-size: large;
	font-family: "Lato", sans-serif;
}

.card {

	position: relative;
	vertical-align: top;
	margin-bottom: 3em;

}

.title {
	font-size: 2em;
	font-weight: bold;
}
