/*Section*/
.section {
	position: relative;
	width: 100%;
	height: 31em;
}

.card ul a {
	color: #3bc492;
    font-weight: bold;
	padding: 0 1em;
	display: block;
	font-size: large;
	font-family: "Lato", sans-serif;
}

.card {

	position: relative;
	vertical-align: top;
	margin-bottom: 3em;

}

.title {
	font-size: 2em;
	font-weight: bold;
}

/*Break*/
#break-section {
	background-color: #34495e;
    height: 4.5em;
}

/*Title Section*/
#title-section {
	height: 31em;
	background-color: #34495e;
	overflow: hidden;
}

#title-text {
	position: absolute;
	top: 15%;
	width: 100%;
	height: 100%;
}

#title-header {
	width: 100%;
	top: 15%;

    color: #3299d3;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 5em;
    text-align: center;
}

#title-about {
	bottom: 0px;
}

#title-description {
	display: inline-block;

	width: 100%;

    color: #f0d215;
	font-family: "Raleway";
    font-weight: 300;
    font-size: 2.5em;
    text-align: center;
}

#title-apply {
	position: absolute;
	height: 20%;
	bottom: 20%;
	right: 50%;
	transform: translate(50%, -50%);
}
/*
a:hover > #apply-button {
	color: yellow;
	box-shadow: 0 #0d0d0d;
}*/

#apply-button {
	display: inline;
	margin: 10px;
	padding: 10px 20px;

	border-radius: .25em;
	box-shadow: 1px 1px 1px #0d0d0d;

	background-color: #de6868;
	color: #f2f2f2;
}

/*Our Mission Section*/
#mission-section {
	height: 40em;
	overflow: hidden;
}

#mission-text {
	position: absolute;
	right: 50%;
	transform: translateX(50%);
	top: 5%;
	width: 80%;
	height: 100%;


	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    text-align: center;
}

#mission-header {
	padding: 1em;
}

#mission-title {
	margin: .5em;
    border-bottom: gray solid 0.025em;
    font-size: 3em;
}

#mission-details {
	padding: 1em;
}

.mission-service {
	display: inline-block;
	margin: .25em;
	width: 32%;
	height: 23em;
	overflow: hidden;
}

.service-icon img {
	margin-top: 2em;
}

.service-title {
	margin: .5em;
    font-size: 2em;
}

#mission-description, .service-description {
    font-size: 1em;
    line-height: 1.8;
    color: #7f7f7f;
    font-family: "Lato";
}
